.base {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 1.5rem;
}

.wizard {
  flex: 1;
}
